.CardContainer {
  width: var(--cardWidth);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Card {
  box-sizing: border-box;
  background-color: #eee;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 1.2em;
  border-radius: 0.2em;
  width: 100%;
}

.Card-clickable:hover {
  box-shadow: inset 0 0 3px 0 var(--themeColor);
  cursor: pointer;
}

.Card-selected {
  box-shadow: inset 0 0 0 2px var(--themeColor);
}

.Card-clickable.Card-selected:hover {
  box-shadow: inset 0 0 3px 2px var(--themeColor);
}